body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
}

.signArea {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signLogo {
  width: 20px;
  height: 20px;
}

.signUp {
  width: 588px;
  height: 576px;
  border-radius: 57px;
  background: #C4C4C4;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.signIn {
  display: flex;
  flex-direction: column;
  width: 588px;
  height: 576px;
  border-radius: 57px;
  background: #C4C4C4;
}

@media (max-width: 600px) {
  .signIn{
    width: 337px;
    height: 579px;
  }
  .signUp{
    width: 337px;
    height: 579px;
    font-size: 24px;
    line-height: 28px;
  }
  .timerBlock{
    width: 192px;
    height: 208px;
  }
}

.rememberCheck {
  user-select: none;
  color:#d8d8d8;
  font-size: 13px;
  width: 260px;
  line-height: 19px;
  font-style: normal;
}

.checkInput {
  appearance: none;
}

.buttonSpan {
  display: flex;
  flex-direction: column;
  align-items: center;
}


::-webkit-input-placeholder { /* WebKit browsers */
  color: black;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: black;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: black;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: black;
}

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}


.smallBtnSignIn {
  display: flex;
  justify-content: flex-end;
  margin: 6px;
  font-size: 12px;
}

.signInBtn {
  color: black;
  font-size: 20px;
  justify-content: flex-end;
}

footer {
  color: gray;
  font-size: 12px;
  margin-top: 35px;
}


.smallBtnSignUp {
  display: flex;
  justify-content: space-between;

}


.signUpBtn {
  color: black;
  font-size: 20px;
  ;
}


.helpLine {
  display: flex;
  justify-content: center;
  margin: 6px;
}

.timerBlock {
  width: 379px;
  height: 404px;
  background: #C4C4C4;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.timerBlock img {
  width: 183,42px;
  height: 217px;
}

.currentTime {
  display: flex;
  justify-content: center;
}

.timerArea {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

@media (max-width: 600px) {
  .timerBlock{
    width: 192px;
    height: 208px;
  }

  .timerBlock img {
    width: 92,98px;
    height: 110px;
  }
  .timerArea {
    flex-direction: column;
  }

}









